:root {
    --dark-grey: #696969;
    --light-grey: #DCDCDC;
    --milk: #F5F5F5;
    --orange: #FFA500;
    --mint: #48D1CC;
    --blue: #4169E0;
    --shadow: #4682B4;
}

* {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-grey);
}

html, body {
    background: linear-gradient(135deg, var(--mint), var(--blue));
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 300px;
    height: auto;
    background: linear-gradient(135deg, var(--milk), var(--light-grey));
    box-shadow: 0 0 3em var(--shadow);
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}



.calendar__header {
    flex-direction: column;
}

.calendar__header_text {
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    opacity: 0.7;
}

.calendar__header_line {
    height: 0;
    border-top: 2px solid var(--light-grey);
    opacity: 0.5;
    margin: 1em 0;
}




.calendar__body {
    flex-direction: column;
}

.calendar__body_weekday {
    margin: 0.5em 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.calendar__body_weekday_cell {
    width: 3em;
    height: 3em;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    text-transform: uppercase;
    transition: 0.5s;
    border-radius: 50%;
    cursor: default;
}

.calendar__body_weekday_cell:hover {
    box-shadow: 0 0 0 var(--orange);
    background: var(--orange);
    color: #fff;
    font-weight: 700;
}

.week {
    font-weight: 700;
}

.another {
    width: 3em;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    color: var(--dark-grey);
    opacity: 0.3;
    cursor: default;
}



.calendar__footer {
    flex-direction: column;
}

.calendar__footer_text {
    text-transform: uppercase;
    justify-content: space-between;
}

.calendar__footer_line {
    height: 0;
    border-top: 2px solid var(--light-grey);
    opacity: 0.5;
    margin: 1em 0;
}